@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
/* Hueso #f0e7c0
Amarillo #f5ce7f
Rosa #ed6c67
Magenta #a60039
AguaMarina #009688
Azul #050a3c
Gris #4c565e*/
/* -----------------------------------------ENCABEZADO------------------------------------------------------------ */
.Contenido{
    background-color: #f7c760;
    padding-bottom: 126%;

}
#TituloMit{
    font-family: 'Gabriola';
    font-size: 80px;
    color: #a60039;
    padding-top: 2px;
    padding-right: 250px;
    padding-left: 100px;
    text-decoration:underline;
    background-color: #f7c760;

}

/* -----------------------------------------GENERAL------------------------------------------------------------ */


.container{
    width: 100%;
    max-width: 1200%;
    height: 430px;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.container .card{
    width: 430px;
    height: 550px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: indianred;
}


.container .card:hover{
transform: translateY(-15px);
box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card img{
width: 430px;
height: 350px;
}

.container .card h4{
    font-weight: 600;
}

.container .card p{
 padding: 0 1rem;
 font-size: 16px ;
 font-weight: 300;
}

.container .card a{
    font-weight: 500;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family:'Open Sans Condensed' ;
}

/* -----------------------------------------general 2------------------------------------------------------------ */

.container2{
    width: 100%;
    max-width: 1200%;
    height: 430px;
    padding-top: 320px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.container2 .card2{
    width: 430px;
    height: 550px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: #e67925;
}


.container2 .card2:hover{
transform: translateY(-15px);
box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container2 .card2 img{
width: 430px;
height: 350px;
}

.container2 .card2 h4{
    font-weight: 600;
}

.container2 .card2 p{
 padding: 0 1rem;
 font-size: 16px ;
 font-weight: 300;
}

.container2 .card2 a{
    font-weight: 500;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family:'Open Sans Condensed' ;
}


/* -----------------------------------------general 3------------------------------------------------------------ */

.container3{
    width: 100%;
    max-width: 1200%;
    height: 430px;
    padding-top: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.container3 .card3{
    width: 430px;
    height: 550px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: #6d6764;
}


.container3 .card3:hover{
transform: translateY(-15px);
box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container3 .card3 img{
width: 430px;
height: 350px;
}

.container3 .card3 h4{
    font-weight: 600;
}

.container3 .card3 p{
 padding: 0 1rem;
 font-size: 16px ;
 font-weight: 300;
}


/* -----------------------------------------general 4------------------------------------------------------------ */

.container4{
    width: 100%;
    max-width: 1200%;
    height: 430px;
    padding-top: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.container4 .card4{
    width: 430px;
    height: 550px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: #d54343;
}


.container4 .card4:hover{
transform: translateY(-15px);
box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container4 .card4 img{
width: 430px;
height: 350px;
}

.container4 .card4 h4{
    font-weight: 600;
}

.container4 .card4 p{
 padding: 0 1rem;
 font-size: 16px ;
 font-weight: 300;
}



/* -----------------------------------------general 5------------------------------------------------------------ */

.container5{
    width: 100%;
    max-width: 1200%;
    height: 430px;
    padding-top: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.container5 .card5{
    width: 430px;
    height: 550px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: #35b886;
}


.container5 .card5:hover{
transform: translateY(-15px);
box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container5 .card5 img{
width: 430px;
height: 350px;
}

.container5 .card5 h4{
    font-weight: 600;
}

.container5 .card5 p{
 padding: 0 1rem;
 font-size: 16px ;
 font-weight: 300;
}







