
    <title>Datos curiosos</title>
    <section class="Contenido">

    
    <!-- <img id="IdParaEditarla" src="assets/imagen.loquesea" alt="blabla"> -->    
   
  <!-- -------------------------------------------ENCABEZADO--------------------------------------------------------------------- -->
  <h1 id="TituloMit"> Datos Curiosos</h1>
  <app-menu></app-menu>
  <!-- -------------------------------------------SECCION 1--------------------------------------------------------------------- -->
  <div class="container">
      <div class="card">
          <img src="assets\tiburones-1- dato1.jpg" alt="" >
          <h4>¿Sabías que los tiburones no pueden dejar de nadar, porque <br>
              si se detienen, se hunden y mueren por asfixia?</h4>

                  <a href="https://www.planetacurioso.com/sabias-que-los-tiburones-no-pueden-dejar-de-nadar-por-que-si-se-detienen-se-hunden-y-mueren-por-asfixia/"> ver mas</a>
      </div>

      <div class="card">
               <img src="assets\delfin-datp2.jpg" alt="">   
             <h4> ¿Sabías que el delfín utiliza los ecos para desplazarse y <br> 
                 para calcular la distancia y lugar en que se encuentran sus presas, <br>
                  algunas tan pequeñas como la quisquilla?</h4>

                   <a href="https://www.elmundo.es/blogs/elmundo/elsonidodelanaturaleza/2015/01/17/el-sonar-de-los-delfines.html"> ver mas</a>
      </div>

      <div class="card">
          <img src="assets\estrella-de-mar-dato3.jpg" alt="">
          <h4>¿Sabías que las estrellas de mar tienen la capacidad de regenerar <br>
               los fragmentos de su cuerpo perdidos?</h4>


           

                  <a href="https://www.almanimal.com/curiosidades/como-se-regenera-una-estrella-de-mar/"> ver mas</a>
      </div>


  </div>
  <!-- -------------------------------------------seccion 2--------------------------------------------------------------------- -->
  
  <div class="container2">
    <div class="card2">
        <img src="assets\imgadato5.jpg" alt="" >
        <h4>¿Sabías que las ballenas jorobadas usan una red de burbujas <br> 
            para concentrar y atrapar a sus presas?</h4>

                <a href="https://matematicascercanas.com/2020/08/13/espiral-ballenas-jorobadas/#:~:text=Las%20ballenas%20jorobadas%20utilizan%20distintas%20t%C3%A9cnicas%20de%20caza.&text=La%20t%C3%A1ctica%20de%20las%20ballenas,a%20concentrarse%20cada%20vez%20m%C3%A1s."> ver mas</a>
    </div>

    <div class="card2">
             <img src="assets\imgdato4.jpg" alt="">   
           <h4> ¿Sabías que las antenas del cerdo de mar, en realidad <br>
               son patas que le ayudan a impulsarse y buscar alimento?</h4>

                 <a href="https://www.nauticalnewstoday.com/el-cerdo-de-mar-animales-mas-raros-del-mundo/"> ver mas</a>
    </div>

    <div class="card2">
        <img src="assets\imgdato3.jpg" alt="">
        <h4>¿Cuánta agua está congelada?</h4>


         

                <a href="https://www.iagua.es/noticias/fundacion-aquae/sabias-que-solo-0025-agua-tierra-es-potable-infografia-fundacion-aquae"> ver mas</a>
    </div>



    <!-- -------------------------------------------seccion 3--------------------------------------------------------------------- -->
  
  <div class="container3">
    <div class="card3">
        <img src="assets\imgadato7.jpg" alt="" >
        <h4>Las medusas han existido desde hace 650 millones de años,<br>
             lo que significa que han vivido mucho más tiempo que los <br>
              dinosaurios y los tiburones.</h4>

                
    </div>

    <div class="card3">
             <img src="assets\imgadato8.jpg" alt="">   
           <h4> Las esponjas de mar fueron reconocidas como animales en 1825. <br>
                También han existido durante más tiempo que los propios dinosaurios.</h4>

                 
    </div>

    <div class="card3">
        <img src="assets\imgdato9.jpg" alt="">
        <h4>Se sabe que una anguila eléctrica produce electricidad suficiente <br>
            para encender hasta 10 bombillas eléctricas.</h4>


         

           
    </div>


     <!-- -------------------------------------------seccion 4--------------------------------------------------------------------- -->
  
  <div class="container4">
    <div class="card4">
        <img src="assets\imgdato10.jpg" alt="" >
        <h4>Los delfines duermen con solo la mitad de su cerebro y con un ojo <br> 
            abierto para poder observar a los depredadores y otras amenazas.</h4>

                
    </div>

    <div class="card4">
             <img src="assets\imgdato11.jpg" alt="">   
           <h4>El pulpo tiene tres corazones y el color de su sangre es azul.</h4>

                 
    </div>

    <div class="card4">
        <img src="assets\imgdato12.jpg" alt="">
        <h4>Las ostras pueden cambiar de un género a otro, dependiendo de <br>
            cuál sea el idóneo para el apareamiento.</h4>


         

           
    </div>
         <!-- -------------------------------------------seccion 4--------------------------------------------------------------------- -->
  
  <div class="container5">
    <div class="card5">
        <img src="assets\imgdato13.jpg" alt="" >
        <h4>El corazón del camarón está en su cabeza.</h4>

                
    </div>

    <div class="card5">
             <img src="assets\imgdato14.jpg" alt="">   
           <h4>Las esponjas de mar carecen de cabeza, boca, ojos, huesos, <br>
               corazón, pulmones y cerebro. A pesar de ello, están vivas.</h4>

                 
    </div>

    <div class="card5">
        <img src="assets\imgdato15.jpg" alt="">
        <h4>Las tortugas tienen presencia en todos los continentes excepto en la Antártida.</h4>


         

           
    </div> 

<!--Si quieres ver como esta quedando tienes que hacerlo por medio de ng serve por la terminal y ng serve -->