<!doctype html>
<html lang="es">
  <head>

    <meta charset="utf-8">    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="assets/IconoTortuga.png">
    <style>
        body {
            background-color: #f0e7c0;
        }
    </style>

    <title>Tourtle Web</title>
  </head>

<body>

    <header class="ImagenTitulo">
        <img src="assets/TConElNombreAlLado.png" alt="Titulo 1">
    </header>
<!-- -------------------------------------------MENU--------------------------------------------------------------------- -->

<app-menu></app-menu>

<!-- -------------------------------------------Seccion 1--------------------------------------------------------------------- -->

    <header class="Inicio">
        <h2 id="Titulo"> En Tourtle web encontraras...</h2>
        <p class="Informacion">
            Información básica respecto a las costas y cuerpos acuaticos Colombianos y a los <br>
            mares y océanos en general; Noticias referentes a los temas<br> 
            marinos; además conocer historias y leyendas antiguas de <br>
            mitología marina 
        </p>
    </header>
<!-- -------------------------------------------Seccion 2--------------------------------------------------------------------- -->
    <header class="Sec2_1">
        <h2 id="TituloCostas"> Costas Colombianas  </h2>
            <p class="Prr1"> 
                Colombia es el único país de sur América que cuenta  
                con dos océanos, el pacífico y el atlántico. Además de <br> 
                que cuenta con una amplia variedad de ecosistemas y su 
                ubicación geográfica hace que sea un punto ideal para la <br>
                tercera barrera de coral mas grande del mundo. 
            </p>
        <section class="Sec2_2">
            <p class="Prr2"> 
                Contar con la zona pacifica nos brinda una gran variedad de <br>
                especies endémicas, además lo hace un lugar perfecto para que <br> 
                las ballenas jorobadas den a luz a sus ballenatos y a criarlos <br>
                ya que posee aguas tranquilas y menos profundas. El siguiente <br>
                video de “Aventure Colombia” explica muy bien la cantidad de <br> 
                ecosistemas que tiene la zona además de la importancia de este <br>
                lugar para Colombia 
            </p>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/n3dgIOUVTCQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </section>
    </header>
    
  </body>
</html>