@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
.ImagenTitulo{

    margin-top: -70px;
    margin-bottom: -150px;
    text-align: center;
    margin-left: 80px;
}

h2{
    font-size: 60px;
    font-family: 'Gabriola';
    color: #050a3c;

}
p{
    color: black;
    font-family:'Open Sans Condensed';

}
#Titulo{
    padding-top: 80px;
    margin-top: -200px;
    padding-bottom: -70px;
}
.Inicio{
    text-align: center!important; 
    margin-top: 50px;
    font-family:'Open Sans Condensed';
    font-weight: 400;
    font-size: 30px;
    padding-top: 80px;
    margin-bottom: 50px;
}
.Sec2_1{
    background-color: #f5ce7f;
    text-align: center;
    margin-top: 0px;
}
#TituloCostas{
    margin-top: -5px;
}
.Sec2_1 h2{
    margin-bottom: -10px;
}
.Prr1{
    font-family:'Open Sans Condensed';
    font-weight: bold;
    font-size: 25px;
    margin-top: -5px;
}
.Sec2_2{
    margin-bottom: 5px;
    display:inline-flex
}
.Prr2{
    font-family:'Open Sans Condensed';
    font-weight: 400;
    font-size: 25px;
    padding-right: 45px;
}
