
        <title>Mitología</title>
        <link rel="icon" href="assets/IconoMitos">
        

<section class="Contenido">

    <!-- -------------------------------------------ENCABEZADO--------------------------------------------------------------------- -->
    <h1 id="TituloMit"> Mitología</h1>
    <app-menu></app-menu>
        <!-- -------------------------------------------SECCION 1--------------------------------------------------------------------- -->
<section class="Mitos">
    
        <section class="Kraken">
            <article class="TextoKraken">
                <h2>El Kraken</h2>
                <p>
                    Es una enorme y colosal criatura marina de la mitología escandinava descrita comúnmente como un tipo
                    de pulpo o calamar gigante… Cuenta la leyenda que los pescadores temían por sus vidas si habían
                    muchos peces en las redes ya que esto podría significar que el Kraken estaba cerca y en cualquier
                    momento emergiendo de las profundidades, atacaría el barco y devoraría a los marineros. <br>
                    <br>
                    <br>
                    <i> Link del video: https://youtu.be/6hpcPGCU2BA</i>

                </p>
            </article>
            
            <iframe width="560" height="315" src="https://www.youtube.com/embed/6hpcPGCU2BA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </section>
        <!-- -------------------------------------------SECCION 2--------------------------------------------------------------------- -->
        <section class="Sirenas">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ru1heLci5Qo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>            

            <article class="TextoSirenas">
                <h2>Las Sirenas</h2>
                <p>
                    Cuenta la leyenda que las sirenas, mitad mujer, mitad pez, atraían con sus cantos a los marinos.
                    Eran hermosas doncellas y una vez los marineros oyeran sus voces olvidarían para siempre su casa y
                    su hogar, a su mujer y a sus hijos, para escuchar la voz de ellas y quedarse para siempre en el mar.
                    <br>
                    En el video de "Curiosamente" podras saber mas de sus origenes y de el como estas han hecho parte
                    de los misterios del mar desde mucho tiempo atras, tambien veras la explicacion de sus apariciones
                    <br>
                    <br>
                    <i> Link del video: https://youtu.be/ru1heLci5Qo</i>

                </p>
            </article>

        </section>


        <!-- -------------------------------------------SECCION 3--------------------------------------------------------------------- -->

        <section class="Megalodon">
            <article class="TextoMegalodon">
                <h2>El Megalodón</h2>
                <p>
                    Aunque no es un mito, lo parece el Megalodón es un animal extinto que durante la época antigua
                    constituyó con gran depredador de todos los mares del mundo. De gran tamaño y voraz, se le podría
                    identificar o definir como un tiburón blanco de un tamaño gigante, se estima que entre 14 y 20
                    metros, no se sabe con exactitud ya que solamente se encontraron sus dientes porque su cuerpo estaba
                    compuesto de cartílago
                    <br>
                    <br>
                    <i> Link del video: https://youtu.be/df2ecG7cHV8</i>

                </p>
            </article>


            <iframe width="560" height="315" src="https://www.youtube.com/embed/df2ecG7cHV8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </section>

</section>
       
