
        <title>Noticias</title>
        <link rel="icon" href="assets/IconoNoticia.png">
        <section class="Contenido">
    <!-- -------------------------------------------ENCABEZADO--------------------------------------------------------------------- -->

    <h1 id="TituloNot"> Noticias</h1>
    <app-menu></app-menu>

    <header class="Noticias">
        <!----SECCION 1------------------ -->

        <section class="Sec1">
            <h2>Nacionales</h2>
            <h4>
                Guardería de corales
            </h4>
            <p>
                El proyecto se centra en la investigación de técnicas de restauración, porque aún <br>
                no existe una metodología efectiva para crear guarderías (el primer paso en el proceso de restauración) <br>
                en los ecosistemas del Pacífico Colombiano. Para la región del Caribe. 
            </p>
            <img class="Imagenes" src="assets/AdoptaCorales.jpg" alt="Guarderia de corales">
            <p> Si deseas adoptar un coral o saber mas al respecto si haces clic en los iconos te <br>
                dirigirá a la pagina web del proyecto o a su Instagram
            </p>
            <div class="Iconos">
                <a href="https://www.instagram.com/adoptauncoral/" target="_blank"> 
                    <img src="assets/IconoIg.png" alt="">
                </a>
                <a href="https://urumiorg.com/adoptauncoral/" target="_blank">
                     <img src="assets/IconoNoticia.png" alt=""
                ></a>
            </div>

              
    
               
              
                    <h4>
                        Las ballenas de los vascos están encogiendo
                    </h4>
                    <p>
                         Una de las especies de cetáceos más amenazada ha reducido su longitud en los últimos 40 años
                    </p>
                    <img class="Imagenes" src="assets/imgno1.jpg" alt="">
                   
                   <p>
                    <br> “Sin un sólido historial de partos, incluso si dejamos de matar ballenas, no veremos crecer la población”
                   </p>
                    <div class="Iconos">
                        
                        <a href="https://elpais.com/ciencia/2021-06-03/las-ballenas-de-los-vascos-estan-encogiendo.html" target="_blank">
                             <img src="assets/IconoNoticia.png" alt=""
                        ></a>
                    </div>
            



                     <h4>
                Ballena fue encontrada muerta y con el estómago lleno de basura
            </h4>
            <p> 
                Según las personas que la hallaron, el cetáceo medía 12 metros <br>
                 y pesaba casi 20 toneladas.
            </p>
            <img class="Imagenes" src="assets/imgno3.jpg" alt="Muro de burbujas">

            <p> <br> "Me sentí triste, especialmente cuando vi las redes de pesca y los escombros que <br>
                 salieron de su estómago", dijo Dan Parry a la BBC.
            </p>
            <div class="Iconos">
                
                
                <a href="https://www.eltiempo.com/vida/medio-ambiente/encuentran-ballena-con-el-estomago-lleno-de-basura-en-escocia-443270" target="_blank">
                     <img src="assets/IconoNoticia.png" alt=""
                ></a>
            </div>
        
               
        </section>

        <!----SECCION 2------------------- -->

        <section class="Sec2">
            <h2>Internacionales</h2>
            <h4>
                Un muro de Burbujas
            </h4>
            <p> 
                La barrera, que recoge el 86% de los plásticos que flotan en la superficie del agua, <br>
                persigue frenar la llegada de los residuos al Mar del Norte.”
            </p>
            <img class="Imagenes" src="assets/BarreraBurbujas.jpg" alt="Muro de burbujas">
            <p> La Gran Barrera de Burbujas, sin peligro para la fauna
            </p>
            <div class="Iconos">
                <a href="https://www.youtube.com/watch?v=Ezyx-23oJjA&ab_channel=Cambio16" target="_blank"> 
                    <img src="assets/IconoYoutube.png" alt="">
                </a>
                <a href="https://noticiasmarinas.com/2019/11/19/un-muro-de-burbujas-contra-el-plastico-de-los-canales-de-amsterdam/" target="_blank">
                     <img src="assets/IconoNoticia.png" alt=""
                ></a>
            </div>
                 <!----SECCION 2.1------------------- -->

                <h4>
                    Encuentran una nueva especie de reptil marino gigante
                </h4>
                <p> 
                    El ejemplar, que vivió en el Cretácico, fue hallado por <br>
                     investigadores en lo que hoy es Marruecos.
                </p>
                <img class="Imagenes" src="assets/imgno2.jpg" alt="Muro de burbujas">
                <p> <br> Gavialimimus almaghribensis, un nuevo tipo de mosasaurio, fue catalogado <br>
                     y nombrado por un equipo de investigación internacional liderado por la estudiante <br>
                      de maestría Catie Strong, de la Universidad de Alberta. <br>
                </p>
                <div class="Iconos">
                    
                    
                    <a href="https://www.eltiempo.com/vida/ciencia/animales-encuentran-una-nueva-especie-de-reptil-marino-gigante-del-cretacico-542213" target="_blank">
                         <img src="assets/IconoNoticia.png" alt=""
                    ></a>
                </div>
            

             <!----SECCION 2.2------------------- -->

             <h4>
                Plástico dentro de las medusas: impacto de la contaminación de océanos
            </h4>
            <p> 
                Científicos de Gran Canaria ha fotografiado por primera vez medusas ingiriendo plásticos.
            </p>
            <img class="Imagenes" src="assets/imano4.jpg" alt="Muro de burbujas">

            <p> <br> En 29 de las 30 medusas estudiadas se encontró algún tipo de basura marina de origen antropogénico
            </p>
            <div class="Iconos">
                
                
                <a href="https://www.eltiempo.com/vida/medio-ambiente/plastico-dentro-de-las-medusas-impacto-de-la-contaminacion-de-oceanos-581115" target="_blank">
                     <img src="assets/IconoNoticia.png" alt=""
                ></a>
            </div>
        </section>

    
        </header>
    
    
  

