
    <title>Fauna y Flora</title>
    <link rel="icon" href="assets/IconoFauna">

<section class="Contenido">
    <!-- -------------------------------------------MENU--------------------------------------------------------------------- -->
    <h1 id="TituloF">Fauna y Flora</h1>

    <app-menu></app-menu>

    <!-- ------------------------------------------Especies---------------------------------------------------------------------- -->

    <section class="Especies">
        <h2 style="color: black;" class="Titulos"> Animales marinos </h2>
        <p>
            Conoce especies que habitan en los mares de Colombia y del mundo. <br>
            Has clic en el animal del que deseas saber mas… Este te llevara a una pagina de este animal

        </p>
        <div class="Iconos">
            <a href="https://www.anipedia.net/ballenas/ballena-jorobada/" target="_blank">
                <img src="assets/IconoBallena.png" alt="Icono Ballena">
            </a>
            <a href="https://www.anipedia.net/delfines/#Donde_viven_los_delfines" target="_blank">
                <img src="assets/IconoDelfin.png" alt="Icono Delfin">
            </a>
            <a href="https://www.anipedia.net/medusas/" target="_blank">
                <img src="assets/IconoMedusa.png" alt="Icono Medusa">
            </a>
            <a href="https://www.anipedia.net/peces/" target="_blank">
                <img src="assets/IconoPez.png" alt="Icono Pez">
            </a>
            <a href="https://www.anipedia.net/tiburones/" target="_blank">
                <img src="assets/IconoTiburon.png" alt="Icono Tiburon">
            </a>
            <a href="https://www.anipedia.net/tortugas/tortugas-marinas/" target="_blank">
                <img src="assets/IconoTortugita.png" alt="Icono Tortugita">
            </a>

        </div>
    </section>
    <!-- ------------------------------------------SAN ANDRES---------------------------------------------------------------------- -->

    <section class="Sec1">

        <h2 class="Titulos">San Andres</h2>

        <header class="Parrafo1">

            <p>
                La isla de San Andrés posee características que la hacen un lugar perfecto para una gran cantidad de
                biodiversidad marina. Empezando porque cuenta con la 3ra barrera de Coral más grande del mundo, de esta
                dependen muchísimas especies. Seguimos porque tiene el mar de los 7 colores, estos dados por su gran
                variedad de algas. Por último, posee una gran cantidad de Manglares que funcionan de guardería para
                múltiples especies.
                Estas características hacen que el lugar sea más que perfecto para una gran biodiversidad,
                estas también permiten que la isla no haya sido consumida por grandes olas y
                dejan que la vida y el turismo en ella sean abundantes.


            </p>

            <article class="Imagenes">
                <img id="ImagenBarrera" src="assets/BarreradeCoral.jpg" alt="Barrera de coral">
                <h4>https://www.pinterest.com/pin/379780181046599378/</h4>
            </article>

        </header>
    </section>
    <!-- ------------------------------------------NUQUI---------------------------------------------------------------------- -->
    <section class="Sec2">

        <h2 class="Titulos"> Nuqui </h2>

        <header class="Parrafo2">

            <article class="Imagenes">
                <img id="ImagenNuqui" src="assets/NuquiChoco.jpg" alt="NuquiChoco">
                <h4> https://tipsparatuviaje.com/playas-del-pacifico-colombiano/</h4>
            </article>

            <p>
                Nuquí es una hermosa costa en el Chocó llena de playas tranquilas y rodeada de selva tropical y el mar
                Pacífico. Un paisaje especial para maravillarse con la arena, las rocas y la inmensa variedad de flora y
                fauna. Como mencionamos en el inicio todas sus características son lo que lo hacen otro lugar lleno de
                vida, un gran atractivo turístico por lo mismo, un tesoro natural… El choco cuenta en general con varios
                programas de protección de especies, no solo marinas sino también terrestres ya que el bosque húmedo
                tropical el lugar más húmedo del planeta posee una alta variedad de especies endémicas, ósea que solo
                habitan en esa zona del mundo.

            </p>

        </header>
    </section>
    <!-- -------------------------------------------CORALES-------------------------------------------------------------------- -->
    <section class="Sec4">

        <h2 class="Titulos"> Corales </h2>

        <header class="Parrafo4">

            <p>
                Los corales poseen un rol destacado para el equilibrio de los ecosistemas donde se encuentran, y es que
                estos ejemplares sirven de resguardo y protección a muchas otras especies de animales, permitiendo su
                supervivencia. Las formas de congregación de las especies coralinas son diversas y pueden dar lugar a
                diferentes hábitats marinos como los arrecifes, algunos con grandes dimensiones y con amplio rango de
                profundidades y que pueden albergan cuantiosas especies de seres vivos. Correspondiendo por lo tanto a
                lugares muy biodiversos, que suministran alimento a otras especies, de esta manera contribuyen a
                mantener el flujo de energía y el equilibrio de las redes tróficas.
                <br>
                <br>
                <i> Informacion tomada de:
                    https://invertebrados.paradais-sphynx.com/cnidarios/importancia-de-los-corales.htm#relevancia-ecologica-de-los-corales
                </i>
            </p>

            <article class="Imagenes">
                <img id="ImagenCorales" src="assets/Corales.jpg" alt="Corales">
                <h4>http://www.madrimasd.org/blogs/universo/2008/03/17/86809</h4>
            </article>

        </header>
    </section>
    <!-- -------------------------------------------MANGLARES--------------------------------------------------------------------- -->
    <section class="Sec3">

        <h2 class="Titulos"> Manglares </h2>

        <header class="Parrafo3">
            <article class="Imagenes">
                <img id="ImagenManglares" src="assets/Manglares.jpg" alt="Manglares">
                <h4>https://www.iagua.es/noticias/conacyt/importancia-manglares</h4>
            </article>
            <p>
                Los manglares están compuestos por árboles o arbustos que poseen adaptaciones que les permiten
                colonizar terrenos anegados que están sujetos a intrusiones de agua salada. Estos son de suma
                importancia ya que son principalmente territorios de apareamiento, cría y alimentación para muchos
                peces, moluscos y toda una gama de otras formas de vida silvestre., funcionan como pulmones del ambiente
                porque producen oxígeno y usan el bióxido de carbono del aire. Sirven de zonas de alimentación,
                crecimiento y protección de reptiles, preces, crustáceos, moluscos, un gran número de especies en
                peligro de extinción, entre otros.
                <br>
                <br> <i>
                    Informacion tomada de:
                    https://www.ecoportal.net/temas-especiales/biodiversidad/la_importancia_de_los_manglares/
                </i>
            </p>

        </header>
    </section>
    

