
.bg-light{
    background-color: #009688 !important;
}.navbar{
    font-family: 'Open Sans Condensed';
    font-size: 35px;
    font-weight: 600;
}
.navbar-brand{
    font-family: 'Open Sans Condensed';
    font-size: 40px; 
}